<div class="container">
  <div class="promo">
    <h1><em>TubeTeam:</em> fantasy sports meets YouTube!<h1>
    <h2>as easy as...<h2>
  </div>
  <div id="field">

    <div class="steps" id="two">
      <span class="numb">2</span> search for videos by YouTube URL or search term!
    </div>
    <div class="steps" id="three">
      <span class="numb">3</span> sign videos! More popular videos cost a higher salary.
    </div>
    <div class="steps" id="four">
      <span class="numb">Score!</span> You earn points whenever your video is viewed...anywhere!
    </div>
    <div class="steps" id="one">
      <span class="numb">1</span> create and name your team!
    </div>
    <div id="diamond">
      <div class="base" id="uno"></div>
      <div class="base" id="dos"></div>
      <div class="base" id="tres"></div>
      <div class="base" id="cuatro"><div id="score"></div></div>
    </div>
  </div>
</div>
