<div class="container">
  <div class="tt-logo">
    <span class="logo-tube">Tube</span>Team
  </div>
  <div id="welcome">
    <h2>New Here?</h2>
    <p>Getting started is easy! Click above to <strong>Create Team</strong>. Then <strong>Search</strong>
  </div>
    <div id="bb">
      <div id="field"><div id="diamond"></div></div>
    </div>
  </div>
</div>
