<div class="container">
  <div class="tt-logo">
    <span class="logo-tube">Tube</span>Team
  </div>
  <div id="welcome">
    <h2>New Here?</h2>
    <p>Getting started is easy! Click above to <strong>Create Team</strong>. Then <strong>Search

  <h2>
    This is the homepage for TubeTeam!
  </h2>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>
