<div class="container">
  <div class="video-card-list">
    <h2>TubeTeam Managers</h2>
    <% @users.each do |user| %>
      <!-- is_me applies styling based on if card represents user -->
      <%= render partial: 'users/user_card.html.erb', locals: { user: user, is_me: (current_user == user ? 'me' : nil) } %>
    <% end %>
  </div>
</div>
