<div class="container">
  <div class="video-card-list cf">
    <h1>Search Results</h1>
    <% @videos.each do |video| %>
      <%= render partial: 'videos/video_card.html.erb', locals: { video: video,
        is_me: ( 'me' if video.team == current_user.team ) } %>
    <% end %>
  </div>
</div>
