<div class="container video-card-list">
  <% @videos.each do |video| %>
    <% if @user_team == video.team %>
      <%= render partial: 'videos/my_video_card.html.erb', locals: { video: video } %>
    <% else %>
      <%= render partial: 'videos/video_card.html.erb', locals: { video: video } %>
    <% end %>
  <% end %>
</div>
