@import 'bootstrap';
@import "flat-ui";

// Older Stuff

// .big-text {
//   margin: 0 auto;
//   text-align: center;
//   font-size: 8rem;
// }

// .panel-ribbon {
//   margin-top: 0;
//   margin-bottom: 0;
// }

// .name-banner {
//   margin-top: 2rem;
//   text-align: center;
//   font-size: 4rem;
// }

// .middle-part {
//   padding-left: 0;
//   padding-right: 0;
// }

// a {
//   text-decoration: none;
// }

.tt-thumbnail {
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2px;
}

.tt-card-outer {
  position: relative;
  display: inline-block;
  float: left;
  margin: 10px;
  width: 275px;
  height: 465px;
  transition: box-shadow 0.2s ease;
  // &:hover {
  //   -moz-box-shadow: 0px 0px 2px 2px #ccc;
  //   -webkit-box-shadow: 0px 0px 2px 2px #ccc;
  //   box-shadow: 0px 0px 2px 2px #ccc;
  // }
}

.tt-card-inner {
  width: 265px;
  height: 455px;
  margin: 4px auto;
  border-radius: 3px;
  background-color: rgba(215,235,255,0.6);
}

.tt-rel-btn, .tt-sign-btn {
  position: absolute;
  top: 9px;
  left: 9px;
  z-index: 5;
  transition: all 0.3s ease;
  opacity: 0.9;
  &:hover {
    opacity: 1.0;
  }
}

.tt-rel-btn {
  text-align: right;
  right: 9px;
}
