@import 'bootstrap';

.big-text {
  margin: 0 auto;
  text-align: center;
  font-size: 8rem;
}

.panel-ribbon {
  margin-top: 0;
  margin-bottom: 0;
}

.name-banner {
  margin-top: 2rem;
  text-align: center;
  font-size: 4rem;
}

.middle-part {
  padding-left: 0;
  padding-right: 0;
}
