@import 'bootstrap';
@import "flat-ui";
@import url(http://fonts.googleapis.com/css?family=Lemon|Carrois+Gothic);

/* Basic Overrides */
a {
  text-decoration: none;
  color: #E67E22;
}

a:hover {
  color: #8E44AD;
}

/* Micro Clearfix */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/* Flash alert and notice */

.flash {
  position: absolute;
  margin-left: 40%;
  height: 60px;
  width: 20%;
  font-size: 16px;
  text-align: center;
}



/* _team_bar.html.erb (Teams#Index) */

.tt-team-outer {
  width: 90%;
  min-width: 700px;
  max-width: 1000px;
  height: 200px;
  margin: 3px auto;
  position: relative;
}

.tt-team-inner, .tt-myteam-inner {
  height: 100%;
  margin: 0;
  padding: 5px;
  // css hack for inset background
    &:before {
    border-radius: 3px;
    background-color: #BDC3C7;
    -moz-transform: scale(0.9);
    -webkit-transform: scaleX(0.98) scaleY(0.93);
    transform: scale(0.9);
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 200px;
    width: 100%;
  }
}

.tt-team-inner {
  &:before {
    background-color: #BDC3C7;
  }
}

.tt-myteam-inner{
    &:before {
    background-color: #F1C40F;
  }
}

.tt-admin-panel, .tt-nonadmin-panel {
  position: relative;
  display: inline-block;
  float: left;
  height: 100%;
  width: 75px;
  z-index: 5;
  padding-top: 4px;
  border-radius: 3px;
  -moz-background-clip: border-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  text-align: center;
  img {
    margin: 0 auto;
    text-align: center;
    background-color: #ECF0F1;
    border-radius: 3px;
    margin: 2px;
    &:hover {
    -moz-transform: scale(1.1), rotate(-10deg);
    -webkit-transform: scale(1.1) rotate(-10deg);
    transform: scale(1.1) rotate(-10deg);
    box-shadow: 0 0 1px 2px #2980B9;
    z-index: 10
    }
  }
}

.tt-admin-panel {
  background-color: #F39C12;
}

.tt-nonadmin-panel {
  background-color: #34495E;
}

.tt-rank-panel {
  margin-right: 20px;
  width: 115px;
  float: left;
  display: inline-block;
  position: relative;
  z-index: 5;
  height: 100%;
}

.big {
  padding-left: 5px;
  height: 150px;
  line-height: 150px;
  font-size: 60px;
  text-align: center;
  h1 {
    text-shadow: 0 0 1px 1px #ECF0F1;
  }
}

.center {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
}

.tt-main-team {
  display: inline-block;
  width: 40%;
  min-width: 450px;
  position: relative;
  bottom: 0px;
  z-index: 5;
}

.tt-team-splash h1 {
  font-size: 30px;
}

.find-more {
  position: relative;
  bottom: 5px;
  text-align: center;
}

.tt-team-stats {
  margin-top: 25px;
}

/* Team#Show */
.tt-team-outer-show {
  width: 90%;
  min-width: 920px;
  max-width: 1000px;
  height: 200px;
  margin: 3px auto;
  position: relative;
}

.tt-team-inner-show, .tt-myteam-inner-show {
  height: 100%;
  margin: 0;
  border-radius: 3px;
}

.tt-team-inner-show {
  background-color: #BDC3C7;
}

.tt-myteam-inner-show {
  background-color: #F1C40F;
}

.tt-team-splash-show h1 {
  font-size: 50px;
  font-family: 'Lemon', 'Lato', Sans-Serif;
  text-align: center;
}

.tt-team-stats-show {
  margin-top: 5px;
}

.tt-main-team-show {
  display: inline-block;
  height: 200px;
  width: 60%;
  min-width: 450px;
  position: relative;
  bottom: 5px;
  left: -15px;
  z-index: 5;
}

.tt-manager-panel {
  display: inline-block;
  float: right;
  height: 100%;
  width: 118px;
  bottom: 200px;
  padding-top: 4px;
  border-radius: 3px;
  text-align: center;
  background-color: #34495E;
  color: #BDC3C7;
  &.me {
    background-color: #F39C12;
    color: #34495E;
  }
  font-size: 20px;
  z-index: 10;
  h1 {
    font-size: 28px;
    margin-top: 5px;
    margin-bottom: 3px;
  }
  .gravatar {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    border-radius: 3px;
  }
}

/* (_my)_video_card.html.erb Video#show */

.video-card-list {
  position: relative;
  width: 100%;
  max-width: 915px;
  padding: 0;
  margin: 0 auto;
  // margin-top: 5px;
}

.tt-card-inner {
  width: 285px;
  height: 435px;
  margin: 4px auto;
  border-radius: 3px;
  background-color: #BDC3C7;
  z-axis: 5;
  &.me {
    background-color: #F1C40F;
  }
}

.tt-card-outer {
  position: relative;
  float: left;
  margin: 5px;
  width: 295px;
  height: 445px;
  background-color: #34495E;
  border-radius: 3px;
  &.me {
    background-color: #F39C12;
  }
}

/* If time rework these into smaller cards for team page */
// .tt-card-inner {
//   width: 290px;
//   height: 190px;
//   margin: 4px auto;
//   border-radius: 3px;
//   background-color: #BDC3C7;
//   &.me {
//     background-color: #F1C40F;
//   }
// }

// .tt-card-outer {
//   position: relative;
//   float: left;
//   margin: 5px;
//   width: 300px;
//   height: 200px;
//   background-color: #34495E;
//   border-radius: 3px;
//   &.me {
//     background-color: #F39C12;
//   }
// }

.tt-vid-stats {
  position: relative;
}

.card-table {
  width: 280px;
  margin: 0 auto;
}

#tt-th {
  vertical-align: middle;
  height: 60px;
}

.tt-signrel-btn {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 15;
  background-color: #ECF0F1;
  border-radius: 2px 0 2px 2px;
  &:hover {
    -moz-transform: scale(1.1), rotate(10deg);
    -webkit-transform: scale(1.1) rotate(10deg);
    transform: scale(1.1) rotate(10deg);
    box-shadow: 0 0 1px 2px #2980B9;
    border-radius: 2px;
  }
  img {
    margin: 1px 2px;
  }
}

/* index.html.erb */

.tt-user-outer {
  display: inline-block;
  width: 445px;
  height: 155px;
  margin: 4px auto;
  border-radius: 3px;
  background-color: #BDC3C7;
  margin: 1px;
  &.me {
    background-color: #F39C12;
  }
}

.tt-user-inner {
  position: relative;
  float: left;
  margin: 5px;
  height: 145px;
  width: 435px;
  // height: 245px;
  background-color: #34495E;
  border-radius: 3px;
  color: #BDC3C7;
  &.me {
    background-color: #F1C40F;
    color: #34495E;
  }
}

.tt-user-slogan {
  padding: 5px;
  margin-right: 10px;
  width: 140px;
  display: inline-block;
  h1 {
    width: 100px;
    margin-top: 10px;
    display: inline-block;
  }
  img {
    border-radius: 3px;
    height: 80px;
    width: 80px;
  }
}

.tt-user-stats {
  position: relative;
  top: -5px;
  display: inline-block;
  width: 260px;
  margin: 5px 0;
  tr:first-child td {
    border-top: none;
  }
}

/* forms */
.outline-fix {
  outline-width: 0;
  &:focus{
    // need important to override attribute set
    border-color: #F39C12 !important;
  }
}

.btn-blue {
  color: #BDC3C7;
}

.label-width {
  width: 170px;
  padding-right: 5px;
  font-size: 16px;
  text-align: right;
}

.form-container {
  width: 75%;
  margin: 10px auto;
  min-width: 600px;
}

/* nav */

.tt-nav {
  background-color: #34495E;
  width: 100%;
  height: 60px;
  padding-top: 8px;
  display: inline-block;
  min-width: 800px;
  ul {
    height: 60px;
  }
}

.nav-user, .tt-logo {
  position: relative;
  display: inline-block;
  z-index: 5;
  height: 40px;
  top: -10px;
  line-height: 60px;
  padding: 0 10px;
  font-size: 24px;
  color: #E74C3C;
}

.tt-logo {
  font-family: 'Carrois Gothic', 'Helvetica Neue', Helvetica, Arial, sans;
  font-size: 32px;
  float: right;
  right: 0px;
  margin-top: 8px;
  position: absolute;
  color: #BDC3C7;
}

.logo-tube {
  border-top-left-radius: 10% 35%;
  border-top-right-radius: 10% 35%;
  border-bottom-left-radius: 10% 35%;
  border-bottom-right-radius: 10% 35%;
  color: #ECF0F1;
  padding-left: 6px;
  padding-right: 6px;
  background: -moz-linear-gradient(0deg, #C0392B, #E74C3C);
  background: -webkit-linear-gradient(0deg, #C0392B, #E74C3C);
  background: linear-gradient(0deg, #C0392B, #E74C3C);
  text-shadow: 0px 0px 1px #2C3E50;
}

.nav li {
  font-size: 18px;
}

.tt-logo {
}

/* Videos#Edit */

.signing-container {
  margin: 20px auto;
  height: 300px;
  width: 400px;
}

.contract-table {
  margin: 0 auto;
  width: 90%;
}

.vid-thumb {
  height: 250px;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.signing {
  font-size: 20px;
}

.amt-left td {
  font-size: 105%;
  color: #E74C3C;
}

.sign-btns {
  position: relative;
  margin: 0 auto;
  top: -15px;
}

.choices {
  width: 175px;
  margin: 10px;
  padding: 0;
  display: inline-block;
}
