<% if flash[:alert].present? %>
  <div class="flash flash-alert"><%= flash.now[:alert] %></div>
<% end %>

<% if flash[:notice].present? %>
  <div class="flash flash-notice"><%= flash.now[:notice] %></div>
<% end %>
